<link rel="stylesheet" href="../../cdn/bootstrap.min.css">
<div class="d-flex justify-content-around">
    <div style="width:45%;" class="m-1">
        <table id="example1" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Level Id</th>
                    <th>Total Enrolled</th>
                    <th>Studying</th>
                    <th>Not Studying</th>
                    <th>Attach</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BABM</td>
                    <td>4</td>
                    <td>413</td>
                    <td>406</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>BABM</td>
                    <td>5</td>
                    <td>193</td>
                    <td>189</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BABM</td>
                    <td>6</td>
                    <td>81</td>
                    <td>81</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>BABM with Finance</td>
                    <td>5</td>
                    <td>73</td>
                    <td>73</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>BABM with Finance</td>
                    <td>6</td>
                    <td>51</td>
                    <td>50</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>BABM with Marketing</td>
                    <td>5</td>
                    <td>137</td>
                    <td>135</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>BABM with Marketing</td>
                    <td>6</td>
                    <td>171</td>
                    <td>168</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>BALaw</td>
                    <td>4</td>
                    <td>147</td>
                    <td>146</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>BALaw</td>
                    <td>5</td>
                    <td>133</td>
                    <td>133</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>BALaw</td>
                    <td>6</td>
                    <td>127</td>
                    <td>121</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>BScBIS</td>
                    <td>4</td>
                    <td>174</td>
                    <td>169</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>BScBIS</td>
                    <td>5</td>
                    <td>157</td>
                    <td>153</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BScBIS</td>
                    <td>6</td>
                    <td>115</td>
                    <td>115</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>BScEC with Finance</td>
                    <td>4</td>
                    <td>239</td>
                    <td>237</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>BScEC with Finance</td>
                    <td>5</td>
                    <td>287</td>
                    <td>283</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>BScEC with Finance</td>
                    <td>6</td>
                    <td>196</td>
                    <td>191</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>BScFinance</td>
                    <td>4</td>
                    <td>296</td>
                    <td>289</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>BScFinance</td>
                    <td>5</td>
                    <td>240</td>
                    <td>235</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>BScFinance</td>
                    <td>6</td>
                    <td>151</td>
                    <td>146</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>CIFS</td>
                    <td>3</td>
                    <td>1223</td>
                    <td>1211</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>LLM</td>
                    <td>7</td>
                    <td>52</td>
                    <td>51</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>MAHRTD</td>
                    <td>7</td>
                    <td>27</td>
                    <td>27</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MAIBM</td>
                    <td>7</td>
                    <td>109</td>
                    <td>108</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>MAIBMCCT</td>
                    <td>7</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MAIBMEI</td>
                    <td>7</td>
                    <td>5</td>
                    <td>5</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MALT</td>
                    <td>7</td>
                    <td>11</td>
                    <td>11</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MALTTESOL</td>
                    <td>7</td>
                    <td>48</td>
                    <td>48</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MScAE</td>
                    <td>7</td>
                    <td>44</td>
                    <td>44</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MScBIA</td>
                    <td>7</td>
                    <td>67</td>
                    <td>67</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MScPHS</td>
                    <td>7</td>
                    <td>39</td>
                    <td>39</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>MScRM</td>
                    <td>7</td>
                    <td>12</td>
                    <td>12</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>PGCert in TL</td>
                    <td>7</td>
                    <td>8</td>
                    <td>8</td>
                    <td>0</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Totals</th>
                    <th></th>
                    <th>5027</th>
                    <th>4952</th>
                    <th>75</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="width:45%;" class="m-1">
        <table id="example2" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Level Id</th>
                    <th>Total Enrolled</th>
                    <th>Studying</th>
                    <th>Not Studying</th>
                    <th>Detach</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

<script src="../../cdn/bootstrap.min.js"></script>