<button onclick="WriteToDebug('strInfo')">Add Change</button>
<button onclick="ShowDebugWindow()">Show Debug Window</button>

<script>
    var blnDebug = true;
    var aryDebug = new Array();
    var strDebug = "";
    var winDebug;
    var my_div;
    var counter = 1;
    function WriteToDebug(strInfo) {
        if (blnDebug) {

            var dtm = new Date().toLocaleTimeString();
            var strLine;
            strLine = `${aryDebug.length} : ${dtm.toString()} - ${strInfo} - ${counter}`;
            aryDebug[aryDebug.length] = strLine;

            if (winDebug && !winDebug.closed && my_div) {
                var inner_div = winDebug.document.createElement('div');
                inner_div.appendChild(winDebug.document.createTextNode(strLine));
                inner_div.appendChild(winDebug.document.createElement("br"));
                inner_div.appendChild(winDebug.document.createElement("br"));
                my_div.appendChild(inner_div);
                winDebug.document.body.appendChild(my_div);
            }
        }
        counter++;
        return;
    }
    function ShowDebugWindow() {
        var renderLog = function () {
            var i;
            var len = aryDebug.length;
            winDebug.document.body.innerHTML = "";
            my_div = winDebug.document.createElement('div');
            my_div.setAttribute("id", "MyDiv");
            my_div.setAttribute("class", "container");
            for (i = 0; i < len; i += 1) {
                var inner_div = winDebug.document.createElement('div');
                inner_div.appendChild(winDebug.document.createTextNode(aryDebug[i]));
                inner_div.appendChild(winDebug.document.createElement("br"));
                inner_div.appendChild(winDebug.document.createElement("br"));
                my_div.appendChild(inner_div);
                winDebug.document.body.appendChild(my_div);
            }
        };
        if (winDebug && !winDebug.closed) {
            winDebug.close();
        }
        //winDebug = window.open("/debug_window.html", "Debug", "width=600,height=300,resizable");
        winDebug = window.open("/05_other_js_examples/show_debug_window/debug_window.htm", "Debug", "width=600,height=300,resizable");
       
        var doc = winDebug.document;

        if (winDebug === null) {
            alert("Debug window could not be opened, popup blocker in place?");
        }
        else {
            if (winDebug.addEventListener || winDebug.attachEvent) {
                winDebug[winDebug.addEventListener ? 'addEventListener' : 'attachEvent'](
                    (winDebug.attachEvent ? 'on' : '') + 'load',
                    renderLog,
                    false
                );
            }
            renderLog();
            winDebug.document.close();
            winDebug.focus();
        }
        return;
    }
</script>