<script src="../xml2json.min.js"></script>

<script>
    var x2js = new X2JS({
        attributePrefix: "$"
    });

    var xmlText = "<MyOperation myAttr='SuccessAttrValue'>MyText</MyOperation>";

    var jsonObj = x2js.xml_str2json(xmlText);

    // Access to attribute
    console.log(jsonObj.MyOperation.$myAttr);
</script>