<span id="res"></span>
<script src="../../../cdn/alasql.min.js"></script>
<script>
    var hotels = [
        { id: 101, Name: "Hotel 101", WebFacilities: [10] },
        { id: 102, Name: "Hotel 102", WebFacilities: [11] },
        { id: 103, Name: "Hotel 103", WebFacilities: [12] }
    ];

    var facilities = [
        { id: 8, Name: "Facility 8" },
        { id: 9, Name: "Facility 9" },
        { id: 10, Name: "Facility 10" }
    ];

    var res = alasql(
        `SELECT id, FIRST(Name) AS Name, COUNT(*) AS [Count] FROM ? facilities 
        LEFT JOIN ? hotels where facilities.id IN hotels.WebFacilities GROUP BY id`
        , [facilities, hotels]
    );
    console.log(JSON.stringify(res));
    /*
    {
        "id": 10,
        "Name": "Facility 10",
        "Count": 1
    }
    */
</script>