<link rel="stylesheet" href="style.css">
<link rel="stylesheet" type="text/css" href="../../cdn/bootstrap.min.css">
<div class="container">
    <div id="div_days" class="wu-timetable-filter">
        <label for="selectDay">Select Day: </label>
        <select name="selectDay" class="form-select" id="selectDay" onchange="DayChange(this)"></select>
    </div>
    <!--<div id="div_periods">
        <label for="selectPeriod">Select Period: </label>
        <select name="selectPeriod" id="selectPeriod"></select>
    </div>-->
</div>
<div id="divTable" class="flex">
    <table id="tblTime" class="table-bordered table-responsive wu-timetable" style="width: 100%;">
    </table>
</div>
<script src="../../cdn/bootstrap.min.js"></script>
<script src="../xml2json.min.js"></script>
<script src="fill_select.js"></script>
<script src="table_data_source.js"></script>
<script src="fill_table.js"></script>
<script>
    function loadXMLDoc(url) {
        xhttp = new XMLHttpRequest();
        xhttp.open("GET", url, false);
        xhttp.send();
        return xhttp.responseXML;
    }
    var xmlDoc = loadXMLDoc("/05_other_js_examples/xml2json/timetable.xml");
    var x2js = new X2JS();
    var jsonObj = x2js.xml2json(xmlDoc);
    var classrooms = jsonObj.timetable.classrooms.classroom;
    var daysdefs = jsonObj.timetable.daysdefs.daysdef;
    var periods = jsonObj.timetable.periods.period;
    var lessons = jsonObj.timetable.lessons.lesson;
    var subjects = jsonObj.timetable.subjects.subject;
    var classes = jsonObj.timetable.classes.class;
    var teachers = jsonObj.timetable.teachers.teacher;
    var cards = jsonObj.timetable.cards.card;

    FillWeekDaySelect(jsonObj);
    var jsonData = GenerateDataForTable();
    UpdateTable('tblTime', jsonData);
    var test;
    function DayChange(event) {
        test = event;
        console.log(event);
        var jsonData = GenerateDataForTable();
        UpdateTable('tblTime', jsonData);
    }
</script>