.wu-timetable th {
    padding: 2.5rem 1rem !important;
    text-align: center;
    white-space: nowrap;
    min-width: 100px;
    background-color: #228AE6;
}

.wu-timetable td {
    padding: 0 !important;
}

.wu-cell {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #48662C;
}

.wu-timetable td:nth-child(1) {
    background-color: #228AE6;
    position: sticky;
    left: 0;
    border-color: #f2f2f2;
}

.wu-timetable tr:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 2;
}

.wu-timetable-filter {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: max-content;
    padding: 1rem 0;
}

.wu-timetable-filter label {
    margin-right: 1rem;
}