<link rel="stylesheet" href="styles.css" />
<div class="hair-1"></div>
<div class="hair-2"></div>
<div class="hair-3"></div>
<div class="hair-4"></div>
<div class="hair-5"></div>
<div class="hair-6"></div>
<div class="hair-7"></div>
<div class="hair-8"></div>
<div class="hair-9"></div>
<div class="hair-10"></div>
<div class="hair-11"></div>
<div class="hair-12"></div>
<div class="hair-13"></div>
<div class="hair-14"></div>
<div class="hair-15"></div>
<div class="hair-16"></div>
<div class="hair-17"></div>
<div class="hair-18"></div>
<div class="hair-19"></div>
<div class="hair-20"></div>
<div class="hair-21"></div>
<div class="hair-22"></div>
<div class="hair-23"></div>
<div class="hair-24"></div>
<div class="hair-25"></div>
<div class="hair-26"></div>
<div class="hair-27"></div>
<div class="hair-28"></div>
<div class="hair-29"></div>

<div class="face-1"></div>
<div class="face-2"></div>
<div class="face-3"></div>
<div class="face-4"></div>
<div class="face-5"></div>
<div class="face-6"></div>
<div class="face-7"></div>
<div class="face-8"></div>
<div class="face-9"></div>
<div class="face-10"></div>
<div class="face-11"></div>

<div class="eye-right-1"></div>
<div class="eye-right-2"></div>
<div class="eye-right-3"></div>
<div class="eye-right-4"></div>
<div class="eye-right-5"></div>
<div class="eye-right-6"></div>
<div class="eye-right-7"></div>

<div class="eye-left-1"></div>
<div class="eye-left-2"></div>
<div class="eye-left-3"></div>
<div class="eye-left-4"></div>
<div class="eye-left-5"></div>
<div class="eye-left-6"></div>
<div class="eye-left-7"></div>
<div class="eye-left-8"></div>

<div class="nose-1"></div>
<div class="nose-2"></div>
<div class="nose-3"></div>
<div class="nose-4"></div>
<div class="nose-5"></div>
<div class="nose-6"></div>

<div class="mouth-1"></div>
<div class="mouth-2"></div>
<div class="mouth-3"></div>
<div class="mouth-4"></div>
<div class="mouth-5"></div>

<div class="shirt-1"></div>
<div class="shirt-2"></div>
<div class="shirt-3"></div>
<div class="shirt-4"></div>
<div class="shirt-5"></div>
<div class="shirt-6"></div>
<div class="shirt-7"></div>
<div class="shirt-8"></div>
<div class="shirt-9"></div>
<div class="shirt-10"></div>
<div class="shirt-11"></div>
<div class="shirt-12"></div>
<div class="shirt-13"></div>
<div class="shirt-14"></div>
<div class="shirt-15"></div>
<div class="shirt-16"></div>
<div class="shirt-17"></div>
<div class="shirt-18"></div>
<div class="shirt-19"></div>
<div class="shirt-20"></div>
<div class="shirt-21"></div>
<div class="shirt-22"></div>
<div class="shirt-23"></div>
<div class="shirt-24"></div>
<div class="shirt-25"></div>
<div class="shirt-26"></div>
<div class="shirt-27"></div>
<div class="shirt-28"></div>
<div class="shirt-29"></div>
<div class="shirt-30"></div>
<div class="shirt-31"></div>
<div class="shirt-32"></div>
<div class="shirt-33"></div>
<div class="shirt-34"></div>
<div class="shirt-35"></div>
<div class="shirt-36"></div>
<div class="shirt-37"></div>
<div class="shirt-38"></div>
<div class="shirt-39"></div>
<div class="shirt-40"></div>
<div class="shirt-41"></div>
<div class="shirt-42"></div>
<div class="shirt-43"></div>
<div class="shirt-44"></div>
<div class="shirt-45"></div>
<div class="shirt-46"></div>
<div class="shirt-47"></div>
<div class="shirt-48"></div>
<div class="shirt-49"></div>
<div class="shirt-50"></div>
<div class="shirt-51"></div>
<div class="shirt-52"></div>
<div class="shirt-53"></div>

<div class="hand-1"></div>
<div class="hand-2"></div>
<div class="hand-3"></div>
<div class="hand-4"></div>
<div class="hand-5"></div>
<div class="hand-6"></div>
<div class="hand-7"></div>
<div class="hand-8"></div>
<div class="hand-9"></div>
<div class="hand-10"></div>
<div class="hand-11"></div>
<div class="hand-12"></div>
<div class="hand-13"></div>
<div class="hand-14"></div>
<div class="hand-15"></div>
<div class="hand-16"></div>
<div class="hand-17"></div>
<div class="hand-18"></div>
<div class="hand-19"></div>
<div class="hand-20"></div>
<div class="hand-21"></div>
<div class="hand-22"></div>
<div class="hand-23"></div>
<div class="hand-24"></div>
<div class="hand-25"></div>
<div class="hand-26"></div>
<div class="hand-27"></div>
<div class="hand-28"></div>
<div class="hand-29"></div>
<div class="hand-30"></div>
<div class="hand-31"></div>
<div class="hand-32"></div>
<div class="hand-33"></div>
<div class="hand-34"></div>
<div class="hand-35"></div>
<div class="hand-36"></div>
<div class="hand-37"></div>
<div class="hand-38"></div>
<div class="hand-39"></div>
<div class="hand-40"></div>
<div class="hand-41"></div>
<div class="hand-42"></div>
<div class="hand-43"></div>
<div class="hand-44"></div>
<div class="hand-45"></div>
<div class="hand-46"></div>
<div class="hand-47"></div>
<div class="hand-48"></div>
<div class="hand-49"></div>
<div class="hand-50"></div>
<div class="hand-51"></div>
<div class="hand-52"></div>
<div class="hand-53"></div>
<div class="hand-54"></div>
<div class="hand-55"></div>
<div class="hand-56"></div>
<div class="hand-57"></div>
<div class="hand-58"></div>
<div class="hand-59"></div>
<div class="hand-60"></div>
<div class="hand-61"></div>
<div class="hand-62"></div>
<div class="hand-63"></div>
<div class="hand-64"></div>
<div class="hand-65"></div>
<div class="hand-66"></div>
<div class="hand-67"></div>
<div class="hand-68"></div>
<div class="hand-69"></div>
<div class="hand-70"></div>
