<link rel="stylesheet" href="/05_other_js_examples/cdn/bootstrap.min.css">
<button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="about-us">
    <li><a href="#">Our Story</a></li>
    <li><a href="#">Our Team</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>
</div>
<script src="/05_other_js_examples/cdn/popper.min.js"></script>
<script src="/05_other_js_examples/cdn/bootstrap.min.js"></script>