<link rel="stylesheet" href="/05_other_js_examples/cdn/bootstrap.min.css">
<div class="btn-group">
  <button class="btn btn-secondary btn-lg" type="button">
    Large split button
  </button>
  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<script src="/05_other_js_examples/cdn/popper.min.js"></script>
<script src="/05_other_js_examples/cdn/bootstrap.min.js"></script>