Result: <div id="result"></div><br>
<table id="tableId" border="1"></table>
<script src="../../../cdn/alasql.min.js"></script>
<script src="fill_table.js"></script>
<script>
    var people =
        [{ id: 1, name: "Tom", carid: 1 },
        { id: 2, name: "Bob", carid: 1 },
        { id: 3, name: "Sir Benjamin Rogan-Josh IV", carid: 2 }];

    var cars =
        [{ id: 1, name: "Ford Fiesta", color: "blue" },
        { id: 2, name: "Ferrari", color: "red" },
        { id: 3, name: "Rover 25", color: "Sunset Melting Yellow with hints of yellow" }];

    var query = `SELECT people.name AS person_name, cars.name, cars.color FROM ? people 
                LEFT JOIN ? cars ON people.carid = cars.id`;
    var res =
        alasql(query, [people, cars]);

    document.getElementById('result').textContent = JSON.stringify(res);
    var tempResult = [
        { "person_name": "Tom", "name": "Ford Fiesta", "color": "blue" },
        { "person_name": "Bob", "name": "Ford Fiesta", "color": "blue" },
        { "person_name": "Sir Benjamin Rogan-Josh IV", "name": "Ferrari", "color": "red" }
    ]
    updateTable('tableId', res);
</script>