<script src="../../cdn/jquery.min.js"></script>
<script src="../xml2json.min.js"></script>
<script>
    $.ajax({
	type: "GET",
	url: "/05_other_js_examples/xml2json/timetable.xml",
	dataType: "xml",
	success: function(xmlDoc) {
		var x2js = new X2JS();
		var jsonObj = x2js.xml2json(xmlDoc);
        document.write(JSON.stringify(jsonObj));  
	}
});
</script>