<script src="../xml2json.min.js"></script>
<script>
    var x2js = new X2JS();
    var xmlText = "<MyArrays>" +
        "<test><item>success</item><item>second</item></test>" +
        "</MyArrays>";
    var jsonObj = x2js.xml_str2json(xmlText);
    console.log(x2js.asArray(jsonObj.MyArrays.test.item)[0]);
</script>