<script src="../xml2json.min.js"></script>
<script>
    var x2js = new X2JS({
        arrayAccessFormPaths: [
            "MyArrays.test.item"
        ]
    });

    var xmlText = "<MyArrays>" +
        "<test><item>success</item><item>second</item></test>" +
        "</MyArrays>";
    var jsonObj = x2js.xml_str2json(xmlText);
    console.log(jsonObj.MyArrays.test.item[0]);
</script>