<!--not working so far-->
<table id="tblData">
    <tr>
        <td>9:00</td>
        <td id='ts9'>task1</td>
    </tr>
    <tr>
        <td>10:00</td>
        <td id='ts10'>task1</td>
    </tr>
    <tr>
        <td>11:00</td>
        <td id='ts11'>task2</td>
    </tr>
    <tr>
        <td>12:00</td>
        <td id='ts12'>task3</td>
    </tr>
</table>
<script src="../cdn/jquery.min.js"></script>
<script>
    $(function () {
        $('#tblData tbody tr:first-child td').each(function () {
            var colSpan = 1;
            while ($(this).text() == $(this).next().text()) {
                $(this).next().remove();
                colSpan++;
            }
            $(this).attr('colSpan', colSpan);
        });
    });
</script>