<table border="1">
    <tr>
        <td>fish</td>
        <td>salmon</td>
    </tr>
    <tr>
        <td>fish</td>
        <td>cod</td>
    </tr>
    <tr>
        <td>fish</td>
        <td>plaice</td>
    </tr>
    <tr>
        <td>bird</td>
        <td>robin</td>
    </tr>
    <tr>
        <td>bird</td>
        <td>crow</td>
    </tr>
    <tr>
        <td>insect</td>
        <td>fly</td>
    </tr>
    <tr>
        <td>insect</td>
        <td>spider</td>
    </tr>
</table>
<script src="../cdn/jquery.min.js"></script>
<script>
    $(function () {
        let table = document.querySelector('table');
        let rowCount = 0;

        for (let i = 0; i < (table.rows.length); i++) {
            var exist= table.rows[i + 1] != undefined;
            if (exist && table.rows[i].cells[0].innerHTML === table.rows[i + 1].cells[0].innerHTML) {
                rowCount++;
            } 
            else if (rowCount !== 0) {
                table.rows[i- rowCount].cells[0].setAttribute('rowspan', rowCount+1);
                //start deleting with index 1, not 0
                for (let j = (i - rowCount+1); j <= i; j++) {
                    table.rows[j].cells[0].remove();
                };
                rowCount = 0;
            };
        };
    });
</script>