<table border="1">
  <thead>
    <tr>
      <th>Sl No</th>
      <th>Column 1</th>
      <th>Column 2</th>
    </tr>
  </thead>
  <tbody id="myTableBody">
    <tr>
      <td>1</td>
      <td>fish</td>
      <td>Salmon</td>
    </tr>
    <tr>
      <td>2</td>
      <td>fish</td>
      <td>tuna</td>
    </tr>
    <tr>
      <td>3</td>
      <td>bird</td>
      <td>parrot</td>
    </tr>
    <tr>
      <td>4</td>
      <td>bird</td>
      <td>crowe</td>
    </tr>
    <tr>
      <td>5</td>
      <td>bird</td>
      <td>eagle</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  var table = document.getElementById("myTableBody");
  var rows = table.getElementsByTagName("tr");

  var j = 0;
  var first_adjacent;
  for (var i = 0; i < rows.length; i++) {
    var currentRow = rows[i];
    var nextRow = rows[i + 1];
    if (j === 0) {
      first_adjacent = currentRow.cells[1];
      first_adjacent.style.display = "table-cell";
    }

    if (nextRow && currentRow.cells[1].innerHTML === nextRow.cells[1].innerHTML) {
      nextRow.cells[1].remove();
      first_adjacent.rowSpan += 1;
      j++;
    }
    else if (nextRow && first_adjacent.innerHTML === nextRow.cells[1].innerHTML) {
      nextRow.cells[1].remove();
      first_adjacent.rowSpan += 1;
      j++;
    }
    else {
      j = 0;
    }
  }
</script>