<script src="../xml2json.min.js"></script>
<script>
    var x2js = new X2JS();
    var xmlText = "<MyRoot><test>Success</test><test2><item>val1</item><item>val2</item></test2></MyRoot>";
    var jsonObj = x2js.xml_str2json(xmlText);
    console.log(JSON.stringify(jsonObj));
</script>