
/* Custom Quill CSS */

/* Text Alignment */
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

/* Text Formatting */
.ql-bold {
  font-weight: bold;
}
.ql-italic {
  font-style: italic;
}
.ql-underline {
  text-decoration: underline;
}
.ql-strike {
  text-decoration: line-through;
}

/* Block Formatting */
.ql-header {
  font-weight: bold;
}
.ql-blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding-left: 10px;
  color: #666;
}
.ql-code-block {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 5px;
  border: 1px solid #ddd;
}

/* Lists */
.ql-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ql-list .ql-indent-1 {
  padding-left: 20px;
}
.ql-list .ql-indent-2 {
  padding-left: 40px;
}

/* Links and Images */
.ql-link {
  color: #007bff;
  text-decoration: underline;
}
.ql-image {
  display: inline-block;
  max-width: 100%;
}

/* Video */
.ql-video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* Placeholder for additional Quill classes */
