<link href="custom_quill.css" rel="stylesheet">
<style>
    .a4 {
        width: 210mm;
        height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
</style>
<section class="a4">
    <!--result must be in here-->
</section>